<!--
Chocks and Bearings form 
-->


<!DOCTYPE html>
<html>
<body>
<html lang = "en">

<style>
    input[type=text]{
        width: 15%;
        margin: 5px 5px;
        box-sizing: border-box;
    }
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
    form {
        text-align: center;
    }
    div {
        text-align: left;
    }
    .right-Text {
        text-align: right;
        float: right;
    }
    input[type=text] {
        width: 150px;
    }
</style>
<script>
    var todaysDate = new Date()

    function convertDate(date) {
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth()+1).toString();
        var dd  = date.getDate().toString();

        var mmChars = mm.split('');
        var ddChars = dd.split('');

        return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    // function submitFunction() {
    //   document.getElementById("submit-form").submit();
    // }

</script>
<head>
    <link href = "style.css" rel="stylesheet" type="text/css" >
    <title>Chocks and Bearings Form</title>
</head>

<body>	
    <header>

        <a href="http://127.0.0.1:5000/"><img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/></a> <!--height="150" width="300" class="logo"-->
        <p style="text-align: center">
			<a href="http://127.0.0.1:5000/">Roll Management</a>  |  <strong>Chocks and Bearings</strong>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>  |  <a href="http://127.0.0.1:5000/help">Help</a>
		</p>
        <hr>
        <p style="text-align: left">
         
        <br>
        Cycle previously submitted forms or
        {% if i >= (length - 1) %}
        <a href="http://127.0.0.1:5000/chocksMenu">Add new Chocks and Bearings form</a> <form action = "http://127.0.0.1:5000/chocksView" method = "post"><input type = "number" id = "form_num" value = {{i}} hidden = "hidden" name ="form_num"><input type="submit" value= "Previous form" id="submitResponse" name = "submitResponse" hidden = "hidden"><input type="submit" value= "Next form" id="submitResponse" name = "submitResponse"></form>
        {% elif i == 0 %}
        <a href="http://127.0.0.1:5000/chocksMenu">Add new Chocks and Bearings form </a> <form action = "http://127.0.0.1:5000/chocksView" method = "post"><input type = "number" id = "form_num" value = {{i}} hidden = "hidden" name ="form_num"><input type="submit" value= "Previous form" id="submitResponse" name = "submitResponse"><input type="submit" value= "Next form" id="submitResponse" name = "submitResponse" hidden = "hidden"></form>
        {% else %}
        <a href="http://127.0.0.1:5000/chocksMenu">Add new Chocks and Bearings form</a> <form action = "http://127.0.0.1:5000/chocksView" method = "post"><input type = "number" id = "form_num" value = {{i}} hidden = "hidden" name ="form_num"><input type="submit" value= "Previous form" id="submitResponse" name = "submitResponse"><input type="submit" value= "Next form" id="submitResponse" name = "submitResponse"></form>
        {% endif %}

        
        </p>

    </header>
    <br>
    <!-- Main contents of the chocks page -->
    <main> 
        <!-- Chocks form -->
        <form action="http://127.0.0.1:5000/add_chock" method="post"> 
            <h3>Disassemble and Inspect (D & I)</h3>
            <div>
                <label for="badge_number">Employee Badge No:</label>
                <input type="text" id="badge_number" name="badge_number" value={{data[i][52]}}> 
                
                <!--<button onclick = "document.write(convertDate)">Add date </button> -->
                <div class="right-Text">
                    <label for="date">Date:</label> 
                    <input type="date" id="date" name="date" value={{data[i][0]}}> 
                </div>
            </div>
            <br>
            
            <h3>Dissasemble and Assemble Roll and Chock</h3>
            <div>
                <div class="right-Text">
                        Clean and Inspect Parts <br><br>
                        Note the Coniditions and Repairs <br><br>
                        check = Good Condition | unchecked = Repaired / Replaced <br><br>
                </div>
        
                <label for="roll_mill">Mill</label> &nbsp;&nbsp;
                <input type="text" id="roll_mill" name="roll_mill" value={{data[i][51]}}  > <br>
                <label for="roll_type">Type of Roll</label>	
                <input type="text" id=roll_type" name = "roll_type" value= {{data[i][53]}}  > <br>
                <!--<input type="text" id="roll_id" name="roll-type">--> <br>		
                <label for="chock-num">Chock No.</label>	
                <input type="text" id="chock-num" name="chock-num" value= {{data[i][1]}}  > <br>		
                <label for="position">Position</label>	
                <input type="text" id="position" name="position" value={{data[i][2]}}  > <br>
            </div>
            <br>
            
            <h3>Reasons for D & I</h3>
            <div>
                <select name = "reasons_d_and_i" id = "reasons_d_and_i" value = "">
                    {% if data[i][3] == 'scheduled' %}
                    <option value ="scheduled" selected>Scheduled</option>
                    <option value = "mill_damage"> Mill Damage </option>
                    <option value = "suspected_damage">Suspected Damage</option>
                    {% elif data[i][3] == 'mill_damage' %}
                    <option value ="scheduled">Scheduled</option>
                    <option value = "mill_damage" selected> Mill Damage </option>
                    <option value = "suspected_damage">Suspected Damage</option>
                    {% elif data[i][3] == 'suspected_damage' %}
                    <option value ="scheduled">Scheduled</option>
                    <option value = "mill_damage"> Mill Damage </option>
                    <option value = "suspected_damage" selected>Suspected Damage</option>
                    {% endif %}

                </select>
                <br>
                {% if data[i][4] == 'on' %}
                <input type="checkbox" id="obvi" name="obvi" checked>
                {% else %}
                <input type="checkbox" id="obvi" name="obvi" >
                {% endif %}
                <label for="obvi">Obvious and Clearly Visible Chock Numbers</label>  <br>
                {% if data[i][5] == 'on' %}
                <input type="checkbox" id="lifting" name="lifting" checked >
                {% else %}
                <input type="checkbox" id="lifting" name="lifting"  >
                {% endif %}
                
                <label for="lifting">Lifting Bolt Holes Thread Condition</label> <br>
                {% if data[i][6] == 'on' %}
                <input type="checkbox" id="cover" name="cover"  checked>
                {% else %}
                <input type="checkbox" id="cover" name="cover"  >
                {% endif %}
                
                <label for="cover">Cover and End Bell Bolts and Threaded Holes</label> <br>
                {% if data[i][7] == 'on' %}
                <input type="checkbox" id="end-bell" name="end-bell"  checked>
                {% else %}
                <input type="checkbox" id="end-bell" name="end-bell"  >
                {% endif %}
                
                <label for="end-bell">End Bell "O" Rings</label> <br>
                {% if data[i][8] == 'on' %}
                <input type="checkbox" id="thrust" name="thrust"  checked>
                {% else %}
                <input type="checkbox" id="thrust" name="thrust"  >
                {% endif %}
                
                <label for="thrust">Thrust Collar, Key Condition and Ancillary Equitment</label> <br>
                {% if data[i][9] == 'on' %}
                <input type="checkbox" id="locks" name="locks"  checked>
                {% else %}
                <input type="checkbox" id="locks" name="locks"  >
                {% endif %}
                
                <label for="locks">Locks and Keepers</label> <br>
                {% if data[i][10] == 'on' %}
                <input type="checkbox" id="liner" name="liner"  checked>
                {% else %}
                <input type="checkbox" id="liner" name="liner"  >
                {% endif %}
                
                <label for="liner">Liner Plates Smooth, Clean, and Bolts Tight</label> <br>
                <br>
                Inboard Radial Seals: &emsp; <br>
                <label for="num-rep">No. Replaced:</label> 
                <input type="text" id="num-rep" name="num-rep" value="{{data[i][11]}}"  > <br>
                <label for="seals1">Inboard Face Seal</label>
                <input type="text" id="seals1" name="seals1"  value={{data[i][12]}}  > <br>
                <label for="mill1">Load Zone From Mill</label>
                <input type="text" id="mill1" name="mill1"  value={{data[i][14]}} > 
            
            </div>
            <h3>Condition of Bearing Grease</h3>
            <div>	
                <select name = "bearing-grease" id = "bearing-grease"  >
                    {% if data[0][16] == 'washed-out' %}
                    <option value ="washed-out" selected>Washed Out </option>
                    <option value = "flakes"> Metallic Flakes</option>
                    <option value = "water">Water</option>
                    <option value = "no grease">N/A</option>
                    {% elif data[0][16] == 'flakes' %}
                    <option value ="washed-out">Washed Out </option>
                    <option value = "flakes" selected> Metallic Flakes</option>
                    <option value = "water">Water</option>
                    <option value = "no grease">N/A</option>
                    {% elif data[0][16] == 'water' %}
                    <option value ="washed-out">Washed Out </option>
                    <option value = "flakes"> Metallic Flakes</option>
                    <option value = "water" selected>Water</option>
                    <option value = "no grease">N/A</option>
                    {% elif data[0][16] == 'no grease' %}
                    <option value ="washed-out">Washed Out </option>
                    <option value = "flakes"> Metallic Flakes</option>
                    <option value = "water">Water</option>
                    <option value = "no grease" selected>N/A</option>
                    {% endif %}
                </select>
                <br>
                <label for="mfg">Bearing MFG</label>
                <input type="text" id="mfg" name="mfg" value={{data[i][16]}}  > <br>
                <label for="sn">S/N</label>
                <input type="text" id="sn" name="sn" value={{data[i][17]}}  > <br>
                <label for="sealed">Sealed</label>
                {% if data[i][19] == 'on' %}
                <input type="checkbox" id="sealed" name="sealed"  checked> <br>
                {% else %}
                <input type="checkbox" id="sealed" name="sealed"  > <br>
                {% endif %}
                	
                <label for="seals-rep">No. of Seals Replaced</label>
                <input type="text" id="seals-rep" name="seals-rep"  value={{data[i][19]}}  > <br>
            </div>
            <h3>Bearing Condition</h3>
            <div>
                <div class="right-Text">
                    <label for="raceA">Race "A"</label>
                    <input type="text" id="raceA" name="raceA"  value={{data[i][23]}}  > <br>
                    <label for="raceB">Race "B"</label>
                    <input type="text" id="raceB" name="raceB" value={{data[i][24]}}  > <br>
                    <label for="raceD">Race "D"</label>
                    <input type="text" id="raceD" name="raceD" value={{data[i][25]}}  > <br>
                    <label for="raceE">Race "E"</label>
                    <input type="text" id="raceE" name="raceE" value={{data[i][26]}}  > <br>
                </div>
                <label for="cupA">Cup "A"</label>
                <input type="text" id="cupA" name="cupA"  value={{data[i][20]}}  > <br>
                <label for="cupB">Cup "B - D"</label>
                <input type="text" id="cupB" name="cupB" value={{data[i][21]}}  > <br>
                <label for="cupE">Cup "E"</label>
                <input type="text" id="cupE" name="cupE"  value={{data[i][22]}}  > <br>

                <select name = "bearing-condition" id = "bearing-condition"  >
                    {% if data[0][28] == 'reinstalled' %}
                    <option value ="reinstalled" selected>Reinstalled</option>
                    <option value = "scraped"> Scraped</option>
                    <option value = "stored">Stored</option>
                    {% elif data[0][28] == 'scraped' %}
                    <option value ="reinstalled">Reinstalled</option>
                    <option value = "scraped" selected> Scraped</option>
                    <option value = "stored">Stored</option>
                    {% elif data[0][28] == 'stored' %}
                    <option value ="reinstalled">Reinstalled</option>
                    <option value = "scraped"> Scraped</option>
                    <option value = "stored" selected>Stored</option>
                    {% endif %}
                </select>
            </div>
    
            <br>
                = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
            <br>
            <br>
            <h3>Roll Shop Procedures and Standards</h3>
            <div>
                <div>
                    Different Bearing Installed &emsp; &emsp;
                    <label for="new-bearing">New</label>
                    <input type="radio" id="new-bearing" value="new-bearing" name="diff-bearing" > &nbsp;
                    <label for="used-bearing">Used</label>
                    <input type="radio" id="used-bearing" value="used-bearing" name="diff-bearing"  > &nbsp;
                    <label for="other-bearing">N/A</label>
                    <input type="radio" id="other-bearing" value="other-bearing" name="diff-bearing"  > &nbsp;
                </div>	
    
                <label for="textMFG">Bearing MFG</label>
                <input type="text" id="textMFG" name="textMFG" value={{data[i][29]}}  >
                <label for="MFGsn">S/N</label>
                <input type="text" id="MFGsn" name="MFGsn" value = {{data[i][30]}}> 
                <label for="sealed2">Sealed</label>	
                {% if data[i][32] == 'on' %}
                <input type="checkbox" id="sealed2" name="sealed2"  checked> <br>
                {% else %}
                <input type="checkbox" id="sealed2" name="sealed2"  > <br>
                {% endif %}
                
                
                <label for="chockBoreRound">Chock Bore Round</label>	
                {% if data[i][33] == 'on' %}
                <input type="checkbox" id="chockBoreRound" name="chockBoreRound"  checked> &emsp; &emsp;
                {% else %}
                <input type="checkbox" id="chockBoreRound" name="chockBoreRound"  > &emsp; &emsp;
                {% endif %}
                
                <label for="chockBoreOOR">Chock Bore Out of Round</label>
                {% if data[i][34] == 'on' %}
                <input type="checkbox" id="chockBoreOOR" name="chockBoreOOR"  checked> <br>
                {% else %}
                <input type="checkbox" id="chockBoreOOR" name="chockBoreOOR"  > <br>
                {% endif %}
                
                {% if data[i][35] == 'on' %}
                <input type="checkbox" id="wearOrRust" name="wearOrRust"  checked> &nbsp;
                {% else %}
                <input type="checkbox" id="wearOrRust" name="wearOrRust"  > &nbsp;
                {% endif %}
                
                <label for="wearOrRust">No Excessive Wear or Heavy Rust</label> <br>
                {% if data[i][36] == 'on' %}
                <input type="checkbox" id="purgeGrease" name="purgeGrease"  checked> &nbsp;
                {% else %}
                <input type="checkbox" id="purgeGrease" name="purgeGrease"  > &nbsp;
                {% endif %}
                
                <label for="purgeGrease">Purge all Grease Channels. Use EP-2 Grease.</label> <br>
                {% if data[i][37] == 'on' %}
                <input type = "checkbox" id="spots-dings" name="spots-dings"  checked> &nbsp;
                {% else %}
                <input type = "checkbox" id="spots-dings" name="spots-dings"  > &nbsp;
                {% endif %}
                
                <label for="spots-dings">Remove all High Spots and Dings</label> <br>
                {% if data[i][38] == 'on' %}
                <input type = "checkbox" id="manual-pack" name="manual-pack"  checked> &nbsp;
                {% else %}
                <input type = "checkbox" id="manual-pack" name="manual-pack"  > &nbsp;
                {% endif %}
                
                <label for="manual-pack">Manually Pack Each Bearing Segment. Use EP-2 Grease</label> <br>
                {% if data[i][39] == 'on' %}
                <input type="checkbox" id="lube-bore" name="lube-bore"  checked> &nbsp;
                {% else %}
                <input type="checkbox" id="lube-bore" name="lube-bore"  > &nbsp;
                {% endif %}
                
                <label for="lube-bore">Lube Bore of Chock. Use EP-2 Grease</label> <br>
                {% if data[i][40] == 'on' %}
                <input type="checkbox" id="dropped" name="dropped"  checked> &nbsp;
                {% else %}
                <input type="checkbox" id="dropped" name="dropped"  > &nbsp;
                {% endif %}
                
                <label for="dropped">Dropped in Grease Packed Bearings.</label> <br>
    
                a) With a Depth Guage Measure the Height of the Shoulder on the Cover. 
                <input type="text" id="droppedA" name="droppedA"  value = {{data[i][41]}}  > <br>
    
                b) Measure the Depth of the Bearing From the Top of the Chock 
                <input type="text" id="droppedB" name="droppedB" value = {{data[i][42]}} > <br>
    
                Subtract "b" from "a" = The amount of Shims Needed for Zero Clearance 
                <input type="text" id="droppedDifference" name="droppedDifference" value= "" > <br>
                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="paper-used" name="paper-used"  > &nbsp;
                <label for = "paper-used">Add 15% more Shim Material if Paper is used to allow from Compression <!-- Text entry, but can we automatiacally make the calculation appear when other values entered -->
                    The 112 Mill Work Rolls Drive Side Requires a 0.094 Clearance. </label> <br>

                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="shim" name="shim"  > &nbsp;
                <label for="shim">Install Shim/Gasket and Install Cover and Evenly Snug Down all Bolts by Hand</label> <br>
                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="phases" name="phases"  > &nbsp;
                <label for="phases">In Four Phases Torque all Bolts in a Crisscross Pattern.
                    After each pass, turn the cones (inner races) one and a half times to sear the rollers.
                    First Torque Light. Second Torque Medium. Third Torque Full. Forth Torque Full.</label> <br>

                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="ancillary" name="ancillary"  > &nbsp;
                <label for="ancillary">Install all Ancillary Equitment</label> <br>	
                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="greasePack" name="greasePack"  > &nbsp;
                <label for="greasePack">Grease Pack all Seals. Use EP-2 Grease.</label> <br>
                {% if data[i][4] == 'on' %}
                {% else %}
                {% endif %}
                <input type="checkbox" id="ready" name="ready"  > &nbsp;
                <label for="ready">Chock is Completely Ready for installation on a roll.</label> <br>			
            </div>
            <br>
            <h4 style="text-align: left;">Comments:</h4>
            <textarea id="comments" name="comments" rows="15" cols="100" value = >{{data[i][50]}}</textarea>
            <br>
            <br>
            <input type="submit" value="Edit Form" id="submitResponse" name = "submitResponse"> <input type="submit" value= "Remove Form" id ="submitResponse" name = 'submitResponse'>
        </form> <!-- END of form-->
    </main>
</body>
</html>