<!DOCTYPE html>
<html lang = "en">
<head>
	<link href = "style.css" rel="stylesheet" type="text/css" >

	<title>RMS Home</title>

</head>
<body>
	<header>
		<!-- Help icon and links -->
		<!-- Main Kaiser logo and page navigation links -->
		<img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/>
		<p style="text-align: center">
			<strong>Chocks and Bearings</strong> 
        </p>
	</header>
    <br>
        <a href="http://127.0.0.1:5000/chocksMenu">Return to Chocks and Bearings Menu </a> 
    </p>

	<main>
		<br>
		<br>
		<div>
			<!-- big table with links to roll data and lots of data
			will need to activate filtering feature
			maybe a search bar sort of thing?-->
			<table class = "center">
			<caption><strong>Chocks and Bearings Information</strong>
			<!-- seach bar to look for any value in the roll table -->
			<input type = "text" id = "filter_input" onkeyup ="searchFunction()" placeholder = "Search" title="Type in desired table value ">
				<!-- Display table headings-->
				<tr>
					{% for header in headings %}
						<th>{{ header }}</th>
					{% endfor %}
				</tr>
				
				<!-- Display SQL server data to index.html-->
				{% for row in data %}
				<tr>
					{% for cell in row %}
						<td>{{cell}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
					
			</table>
		</div>
	</main>
	<script>
		//Filtering function for the search function to look through entire table for the value
		function searchFunction() {
		let tabel, filter, input, tr, td, i;
		input = document.getElementById("filter_input");
		filter = input.value.toUpperCase();
		tabel = document.getElementById("roll_table");
		tr = document.getElementsByTagName("tr");
		for (i = 1; i < tr.length; i++) {
			if (tr[i].textContent.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
				}
			}
		}

	</script>
</body>
</html>