<!--
Chocks and Bearings form 
-->

<!DOCTYPE html>
<html lang = "en">

<style>
    input[type=text]{
        width: 15%;
        margin: 5px 5px;
        box-sizing: border-box;
    }
</style>
<script>
    var todaysDate = new Date()

    function convertDate(date) {
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth()+1).toString();
        var dd  = date.getDate().toString();

        var mmChars = mm.split('');
        var ddChars = dd.split('');

        return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    // function submitFunction() {
    //   document.getElementById("submit-form").submit();
    // }

</script>
<head>
    <link href = "style.css" rel="stylesheet" type="text/css" >
    <title>New Chocks and Bearings Form</title>
</head>

<body>	
    <header>
        <div id="helpOption">
            <a href="helpPage.html">Help</a>
            <a href="helpPage.html"><img src="helpBtn.png" height="60" width="60" class = "helpBtn" alt="Help Button" /></a>
        </div>
        
        <a href="index.php"><img src="logo.png" alt="Kaiser Aluminium Logo"/></a> <!--height="150" width="300" class="logo"-->
        
        
        <p style="text-align: left">
        <strong>New Chocks and Bearings Form:</strong>  
        <br>
        Fill out form and select submit or <a href="chocksMenu.php">Return to Chocks and Bearings Menu </a> 
        </p>
    
    </header>
    <br>

    <!-- Menu for what user wants to do: fill out new form, view/edit old forms -->
    
    
    <!-- php for form 
    <?php
        if(array_key_exists('submit-btn', $_POST)){
            submit();
        }

        function submit(){
            include_once(dirname(__FILE__) . '/DBC.php');
            //Database connection information
            $dbinfo = array( 
                'provider' => 'sqlsrv',
                'host' => 'localhost\\SQLEXPRESS', 
                'user' => 'rmsapp',
                'password' => 'ss1RMSpw@wb02',
                'db'   => 'rms'
                );
    
    
    
            //Open the PDO Connection
            try {
                $dbconn = new DBC($dbinfo);
            }
            catch (Exception $ex) {
                echo '<p>Error creating database connection: ' . $ex->getMessage() . '</p>';
                echo '</html>';
                exit();
            }

            $query = array(
                'date' => $_POST['date'],
                'chock_number' => $_POST['chock-num'],
                'position' => $_POST['position'],
                'reason' => $_POST['reasons_d_and_i'],
                'visible_chock_numbers' => $_POST['obvi'],
                'lifiting_bolt_thread_condition' => $_POST['lifting'],
                'cover_end_condition' => $_POST['cover'],
                'bell_o_ring_condition' => $_POST['end-bell'],
                'thrust_collar' => $_POST['thrust'],
                'lockkeepers' => $_POST['locks'],
                'liner_plates' => $_POST['liner'],
                'inboard_radial_seals_replaced' => $_POST['num-rep'],
                'inboard_face_seal' => $_POST['seals1'],
                'outboard_radial_seal' => $_POST['seals2'],
                'load_zone_from_mill' => $_POST['mill1'],
                'load_zone_to_mill' => $_POST['mill2'],
                'bearing_grease_condition' => $_POST['bearing-grease'],
                'bearing_mfg' => $_POST['mfg'],
                'bearing_serial_number' => $_POST['sn'],
                'is_sealed' => $_POST['sealed'],
                'seals_replaced' => $_POST['seals-rep'],
                'cup_a' => $_POST['cupA'],
                'cup_bd' => $_POST['cupB'],
                'cup_e' => $_POST['cupE'],
                'race_a' => $_POST['raceA'],
                'race_b' => $_POST['raceB'],
                'race_d' => $_POST['raceD'],
                'race_e' => $_POST['raceE'],
                'bearing_status' => $_POST['bearing-condition'],
                'different_bearing_installed' => $_POST['diff-bearing'],
                'bearing_mfg_new' => $_POST['textMFG'],
                'serial_number_new' => $_POST['MFGsn'],
                'sealed_new' => $_POST['sealed2'],
                'chock_bore_round' => $_POST['chockBoreRound'],
                'chock_bore' => $_POST['chockBoreOOR'],
                'no_rust' => $_POST['wearOrRust'],
                'grease_purged' => $_POST['purgeGrease'],
                'spots_dings' => $_POST['spots-dings'],
                'manual_pack' => $_POST['manual-pack'],
                'lube_bore' => $_POST['lube-bore'],
                'grease_packed_bearings' => $_POST['dropped'],
                'height_shoulder' => $_POST['droppedA'],
                'bearing_depth' => $_POST['droppedB'],
                'shims_needed' => $_POST['droppedDifference'],
                'was_paper_used' => $_POST['paper-used'],
                'by_hand' => $_POST['shim'],
                'was_torqued' => $_POST['phases'],
                'ancillary_installed' => $_POST['ancillary'],
                'grease_pack_sealed' => $_POST['greasePack'],
                'chock_ready_for_installation' => $_POST['ready'],
                'comments'  => $_POST['comments'],
                'mill' => $_POST['roll_mill'],
                'badge_number' => $_POST['badge_number'],
                'roll_type' => $_POST['roll_type']
            );
            try{
                $result = $dbconn->insert('dbo.report', $query);
            }
            catch (Exception $ex) {
                echo 'catch entered';
                echo '<p>Error reading data: ' . $ex->getMessage() . '</p>';
                echo '</html>';
                exit();
            }
        }
    ?>
        -->


    <!-- beginning of the form!-->

    <h2 style="text-align: center"> Dissasemble and Inspect (D & I) </h2>
    
    <!-- Form will be able to populate the chock and bearings database using php -->
    <!-- For future consideration: Way to easily view past forms in database, save a form 
            to send to someone?  -->
    <form method="post"> <!-- onsubmit="alert('Form sucessfully submit!');return false"> -->

        Employee Badge No:
        <input type="text" id="badge_number" name="badge_number" value="<?php echo $row['badge_number'];?>"> 
        <br>

        <!--<button onclick = "document.write(convertDate)">Add date </button> -->
        Date: <input type="date" id="date" name="date" value="<?php echo $row['date'];?>"> 
        
        <br>
        <h3 style="text-align: center">Dissasemble and Assemble Roll and Chock</h3>
        <div style="float:right" >
            <p>
                Clean and Inspect Parts <br><br>
                Note the Coniditions and Repairs <br><br>
                check = Good Condition / Selection | R = Repaired / Replaced <br><br>
            </p>
        </div>
        
        Mill		<input type="text" id="roll_mill" name="roll_mill" value="<?php echo $row['mill'];?>"> <br>
        Type of Roll	<select name = "roll_type" id = "roll_type">
                            <option value ="wr"<?php if($row['role_type'] == 'wr'){echo ' selected';}?>>Work Roll</option>
                            <option value = "bu"<?php if($row['role_type'] == 'bu'){echo ' selected';}?>> Back-Up</option>
                            <option value = "imr"<?php if($row['role_type'] == 'imr'){echo ' selected';}?>>IMR</option>
                        </select>
        <!--<input type="text" id="roll_id" name="roll-type">--> <br>		
        Chock No.	<input type="text" id="chock-num" name="chock-num" value="<?php echo $row['chock_number'];?>" > <br>		
        Position	<input type="text" id="position" name="position" value="<?php echo $row['position'];?>"> <br>
    

        <h3>Reasons for D & I </h3>
            <pre>
                <select name = "reasons_d_and_i" id = "reasons_d_and_i">
                    <option value ="schedled"<?php if($row['reason'] == 'schedled'){echo ' selected';}?>>Scheduled</option>
                    <option value = "mill_damage"<?php if($row['reason'] == 'schedled'){echo ' selected';}?>> Mill Damage</option>
                    <option value = "suspected_damage"<?php if($row['reason'] == 'schedled'){echo ' selected';}?>>Suspected Damage</option>
                </select>
                <input type="checkbox" id="obvi" name="obvi"<?php if($row['visible_chock_numbers'] == 'on'){echo ' checked';}?>><label for="obvi">Obvious and Clearly Visible Chock Numbers</label> 
                <input type="checkbox" id="lifting" name="lifting"<?php if($row['lifiting_bolt_thread_condition'] == 'on'){echo ' checked';}?>><label for="lifting">Lifting Bolt Holes Thread Condition</label> 
                <input type="checkbox" id="cover" name="cover"<?php if($row['cover_end_condition'] == 'on'){echo ' checked';}?>><label for="cover">Cover and End Bell Bolts and Threaded Holes</label>
                <input type="checkbox" id="end-bell" name="end-bell"<?php if($row['bell_o_ring_condition'] == 'on'){echo ' checked';}?>><label for="end-bell">End Bell "O" Rings</label>
                <input type="checkbox" id="thrust" name="thrust"<?php if($row['thrust_collar'] == 'on'){echo ' checked';}?>><label for="thrust">Thrust Collar, Key Condition and Ancillary Equitment</label>
                <input type="checkbox" id="locks" name="locks"<?php if($row['lockkeepers'] == 'on'){echo ' checked';}?>><label for="locks">Locks and Keepers</label>
                <input type="checkbox" id="liner" name="liner"<?php if($row['liner_plates'] == 'on'){echo ' checked';}?>><label for="liner">Liner Plates Smooth, Clean, and Bolts Tight</label>
                Inboard Radial Seals	No. Replaced: <input type="text" id="num-rep" name="num-rep" value="<?php echo $row['inboard_radial_seals_replaced'];?>">
                Inboard Face Seal<input type="text" id="seals1" name="seals1"  value="<?php echo $row['inboard_face_seal'];?>">	Outboard Radial Seal <input type="text" id="seals2" name="seals2"  value="<?php echo $row['outboard_radial_seal'];?>">
                Load Zone From Mill<input type="text" id="mill1" name="mill1"  value="<?php echo $row['load_zone_from_mill'];?>">	Load Zone to Mill <input type="text" id="mill2" name="mill2" value="<?php echo $row['load_zone_to_mill'];?>">
            </pre>	

        <h3>Condition of Bearing Grease</h3>	
        <pre>
            <select name = "bearing-grease" id = "bearing-grease">
                <option value ="washed-out"<?php if($row['bearing_grease_condition'] == 'washed-out'){echo ' selected';}?>>Washed Out</option>
                <option value = "flakes"<?php if($row['bearing_grease_condition'] == 'flakes'){echo ' selected';}?>> Metallic Flakes</option>
                <option value = "water"<?php if($row['bearing_grease_condition'] == 'water'){echo ' selected';}?>>Water</option>
                <option value = "n/a_grease"<?php if($row['bearing_grease_condition'] == 'n/a_grease'){echo ' selected';}?>>N/A</option>
            </select>
            Bearing MFG <input type="text" id="mfg" name="mfg" value="<?php echo $row['bearing_mfg'];?>">		S/N<input type="text" id="sn" name="sn" value="<?php echo $row['bearing_serial_number'];?>" >
            <input type="checkbox" id="sealed" name="sealed"<?php if($row['is_sealed'] == 'on'){echo ' checked';}?>><label for="sealed">Sealed</label>	No. of Seals Replaced<input type="text" id="seals-rep" name="seals-rep"  value="<?php echo $row['seals_replaced'];?>">
        </pre>	

        <h3>Bearing Condition</h3>
        <pre>
            Cup "A"<input type="text" id="cupA" name="cupA"  value="<?php echo $row['cup_a'];?>">	Race "A" <input type="text" id="raceA" name="raceA"  value="<?php echo $row['race_a'];?>">
            Cup "B - D"<input type="text" id="cupB" name="cupB" value="<?php echo $row['cup_bd'];?>">	Race "B" <input type="text" id="raceB" name="raceB" value="<?php echo $row['race_b'];?>">
            Cup "E"<input type="text" id="cupE" name="cupE"  value="<?php echo $row['cup_e'];?>">	Race "D" <input type="text" id="raceD" name="raceD" value="<?php echo $row['race_d'];?>">
            Race "E" <input type="text" id="raceE" name="raceE" value="<?php echo $row['race_e'];?>">
            
            <select name = "bearing-condition" id = "bearing-condition">
                <option value ="reinstalled"<?php if($row['bearing_status'] == 'reinstalled'){echo ' selected';}?>>Reinstalled</option>
                <option value = "scraped"<?php if($row['bearing_status'] == 'scraped'){echo ' selected';}?>> Scraped</option>
                <option value = "stored"<?php if($row['bearing_status'] == 'stored'){echo ' selected';}?>>Stored</option>
            </select>
        </pre>
        <br>
            = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
        <br>
        <br>

        <pre>
            Different Bearing Installed <select name = "diff-bearing" id = "diff-bearing">
                        <option value ="new-bearing"<?php if($row['different_bearing_installed'] == 'new-bearing'){echo ' selected';}?>>New</option>
                        <option value = "used-bearing"<?php if($row['different_bearing_installed'] == 'used-bearing'){echo ' selected';}?>>Used</option>
                        <option value = "other-bearing"<?php if($row['different_bearing_installed'] == 'other-bearing'){echo ' selected';}?>>N/A</option>
                </select>		
            
            Bearing MFG 	<input type="text" id="textMFG" name="textMFG" value="<?php echo $row['bearing_mfg_new'];?>">	S/N <input type="text" id="MFGsn" name="MFGsn" value="<?php echo $row['serial_number_new'];?>">	<input type="checkbox" id="sealed2" name="sealed2"<?php if($row['sealed_new'] == 'on'){echo ' checked';}?>><label for="sealed2">Sealed</label>
            
            <input type="checkbox" id="chockBoreRound" name="chockBoreRound"<?php if($row['chock_bore_round'] == 'on'){echo ' checked';}?>><label for="chockBoreRound">Chock Bore Round</label>	<input type="checkbox" id="chockBoreOOR" name="chockBoreOOR"<?php if($row['chock_bore'] == 'on'){echo ' checked';}?>><label for="chockBoreOOR">Chock Bore Out of Round</label>
            
            <input type="checkbox" id="wearOrRust" name="wearOrRust"<?php if($row['no_rust'] == 'on'){echo ' checked';}?>><label for="wearOrRust">No Excessive Wear or Heavy Rust</label>
            
            <input type="checkbox" id="purgeGrease" name="purgeGrease"<?php if($row['grease_purged'] == 'on'){echo ' checked';}?>><label for="purgeGrease">Purge all Grease Channels. Use EP-2 Grease.</label>
            
            <input type = "checkbox" id="spots-dings" name="spots-dings"<?php if($row['spots_dings'] == 'on'){echo ' checked';}?>><label for="spots-dings">Remove all High Spots and Dings</label>
            
            <input type = "checkbox" id="manual-pack" name="manual-pack"<?php if($row['manual_pack'] == 'on'){echo ' checked';}?>><label for="manual-pack">Manually Pack Each Bearing Segment. Use EP-2 Grease</label>
            
            <input type="checkbox" id="lube-bore" name="lube-bore"<?php if($row['lube_bore'] == 'on'){echo ' checked';}?>><label for="lube-bore">Lube Bore of Chock. Use EP-2 Grease</label>
            
            <input type="checkbox" id="dropped" name="dropped"<?php if($row['grease_pack_sealed'] == 'on'){echo ' checked';}?>><label for="dropped">Dropped in Grease Packed Bearings.</label>
            
            a) With a Depth Guage Measure the Height of the Shoulder on the Cover. <input type="text" id="droppedA" name="droppedA"  value="<?php echo $row['height_shoulder'];?>">
            
            b) Measure the Depth of the Bearing From the Top of the Chock <input type="text" id="droppedB" name="droppedB" value="<?php echo $row['bearing_depth'];?>">
            
            Subtract "b" from "a" = The amount of Shims Needed for Zero Clearance <input type="text" id="droppedDifference" name="droppedDifference" value="<?php echo $row['shims_needed'];?>">
            
            <input type="checkbox" id="paper-used" name="paper-used"<?php if($row['was_paper_used'] == 'on'){echo ' checked';}?>><label for = "paper-used">Add 15% more Shim Material if Paper is used to allow from Compression <!-- Text entry, but can we automatiacally make the calculation appear when other values entered -->
                The 112 Mill Work Rolls Drive Side Requires a 0.094 Clearance. </label>
            
            <input type="checkbox" id="shim" name="shim"<?php if($row['by_hand'] == 'on'){echo ' checked';}?>><label for="shim">Install Shim/Gasket and Install Cover and Evenly Snug Down all Bolts by Hand</label>
            
            <input type="checkbox" id="phases" name="phases"<?php if($row['was_torqued'] == 'on'){echo ' checked';}?>><label for="phases">In Four Phases Torque all Bolts in a Crisscross Pattern.
                After each pass, turn the cones (inner races) one and a half times to sear the rollers.
                First Torque Light. Second Torque Medium. Third Torque Full. Forth Torque Full.</label>
            
            <input type="checkbox" id="ancillary" name="ancillary"<?php if($row['ancillary_installed'] == 'on'){echo ' checked';}?>><label for="ancillary">Install all Ancillary Equitment</label>		
            
            <input type="checkbox" id="greasePack" name="greasePack"<?php if($row['grease_pack_sealed'] == 'on'){echo ' checked';}?>><label for="greasePack">Grease Pack all Seals. Use EP-2 Grease.</label>
            
            <input type="checkbox" id="ready" name="ready"<?php if($row['chock_ready_for_installation'] == 'on'){echo ' checked';}?>><label for="ready">Chock is Completely Ready for installation on a roll.</label>				

        </pre>	

        Comments:
        <br>
        <!-- ToDO: Make this a text input for the form but maintain size -->
        <textarea id="comments" name="comments" rows="15" cols="100"><?php echo $row['comments'];?>
        </textarea>
        <br>
        <?php 
            if($_GET['chock_number'])
            {
                echo '<form>
                        <button formaction=chocksMenu.php>Exit</button>
                    </form>';
            }
            else
            {
                echo '<input id="submit-btn" name="submit-btn" type="submit" value="Submit Form"> ';
            }
        ?>

    </form> <!-- END -->
</body>
</html>