<!--
Chocks and Bearings form 
-->

<!DOCTYPE html>
<html>
<body>
<html lang = "en">

<style>
    input[type=text]{
        width: 15%;
        margin: 5px 5px;
        box-sizing: border-box;
    }
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
    form {
        text-align: center;
    }
    div {
        text-align: left;
    }
    .right-Text {
        text-align: right;
        float: right;
    }
    input[type=text] {
        width: 150px;
    }

</style>
<script>
    var todaysDate = new Date()

    function convertDate(date) {
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth()+1).toString();
        var dd  = date.getDate().toString();

        var mmChars = mm.split('');
        var ddChars = dd.split('');

        return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    // function submitFunction() {
    //   document.getElementById("submit-form").submit();
    // }

</script>
<head>
    <link href = "style.css" rel="stylesheet" type="text/css" >
    <title>Chocks and Bearings Form</title>
</head>

<body>	
    <header>

        <a href="http://127.0.0.1:5000/"><img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/></a> <!--height="150" width="300" class="logo"-->
        <p style="text-align: center">
			<a href="http://127.0.0.1:5000/">Home Roll Management Page</a>  |  <strong>Chocks and Bearings</strong>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>  |  <a href="http://127.0.0.1:5000/help">Help</a>
		</p>
        <hr>
        <p style="text-align: left">
        <strong>New Chocks and Bearings Form:</strong>  
        <br>
        Fill out form and select submit or <a href="http://127.0.0.1:5000/chocksView">View previous forms </a> 
        </p>

    </header>
    <br>
    <!-- Main contents of the chocks page -->
    <main> 
        <!-- Chocks form -->
        <form action="http://127.0.0.1:5000/add_chock" method="post"> 
            <h3>Disassemble and Inspect (D & I)</h3>
            <div>
                <label for="badge_number">Employee Badge No:</label>
                <input type="text" id="badge_number" name="badge_number" value=""> 
                
                <!--<button onclick = "document.write(convertDate)">Add date </button> -->
                <div class="right-Text">
                    <label for="date">Date:</label> 
                    <input type="date" id="date" name="date" value=""> 
                </div>
            </div>
            <br>
            
            <h3>Dissasemble and Assemble Roll and Chock</h3>
            <div>
                <div class="right-Text">
                        Clean and Inspect Parts <br><br>
                        Note the Coniditions and Repairs <br><br>
                        check = Good Condition | unchecked = Repaired / Replaced <br><br>
                </div>
        
                <label for="roll_mill">Mill</label> &nbsp;&nbsp;
                <input type="text" id="roll_mill" name="roll_mill" value=""> <br>
                <label for="roll_type">Type of Roll</label>	
                <select name = "roll_type" id = "roll_type">
                    <option value ="wr" selected>Work Roll</option>
                    <option value = "bu">Back-Up</option>
                    <option value = "imr">IMR</option>
                </select>
                <!--<input type="text" id="roll_id" name="roll-type">--> <br>		
                <label for="chock-num">Chock No.</label>	
                <input type="text" id="chock-num" name="chock-num" value="" > <br>		
                <label for="position">Position</label>	
                <input type="text" id="position" name="position" value=""> <br>
            </div>
            <br>
            
            <h3>Reasons for D & I</h3>
            <div>
                <select name = "reasons_d_and_i" id = "reasons_d_and_i">
                    <option value ="scheduled" selected>Scheduled</option>
                    <option value = "mill_damage"> Mill Damage</option>
                    <option value = "suspected_damage">Suspected Damage</option>
                </select>
                <br>
                <input type="checkbox" id="obvi" name="obvi">
                <label for="obvi">Obvious and Clearly Visible Chock Numbers</label> <br>
                <input type="checkbox" id="lifting" name="lifting">
                <label for="lifting">Lifting Bolt Holes Thread Condition</label> <br>
                <input type="checkbox" id="cover" name="cover">
                <label for="cover">Cover and End Bell Bolts and Threaded Holes</label> <br>
                <input type="checkbox" id="end-bell" name="end-bell">
                <label for="end-bell">End Bell "O" Rings</label> <br>
                <input type="checkbox" id="thrust" name="thrust">
                <label for="thrust">Thrust Collar, Key Condition and Ancillary Equitment</label> <br>
                <input type="checkbox" id="locks" name="locks">
                <label for="locks">Locks and Keepers</label> <br>
                <input type="checkbox" id="liner" name="liner">
                <label for="liner">Liner Plates Smooth, Clean, and Bolts Tight</label> <br>
                <br>
                Inboard Radial Seals: &emsp; <br>
                <label for="num-rep">No. Replaced:</label> 
                <input type="text" id="num-rep" name="num-rep" value=""> <br>
                <label for="seals1">Inboard Face Seal</label>
                <input type="text" id="seals1" name="seals1"  value=""> <br>
                <label for="mill1">Load Zone From Mill</label>
                <input type="text" id="mill1" name="mill1"  value="">
            
            </div>
            <h3>Condition of Bearing Grease</h3>
            <div>	
                <select name = "bearing-grease" id = "bearing-grease">
                    <option value ="washed-out" selected>Washed Out</option>
                    <option value = "flakes"> Metallic Flakes</option>
                    <option value = "water">Water</option>
                    <option value = "n/a_grease">N/A</option>
                </select>
                <br>
                <label for="mfg">Bearing MFG</label>
                <input type="text" id="mfg" name="mfg" value=""> <br>
                <label for="sn">S/N</label>
                <input type="text" id="sn" name="sn" value="" > <br>
                <label for="sealed">Sealed</label>
                <input type="checkbox" id="sealed" name="sealed"> <br>	
                <label for="seals-rep">No. of Seals Replaced</label>
                <input type="text" id="seals-rep" name="seals-rep"  value=""> <br>
            </div>
            <h3>Bearing Condition</h3>
            <div>
                <div class="right-Text">
                    <label for="raceA">Race "A"</label>
                    <input type="text" id="raceA" name="raceA"  value=""> <br>
                    <label for="raceB">Race "B"</label>
                    <input type="text" id="raceB" name="raceB" value=""> <br>
                    <label for="raceD">Race "D"</label>
                    <input type="text" id="raceD" name="raceD" value=""> <br>
                    <label for="raceE">Race "E"</label>
                    <input type="text" id="raceE" name="raceE" value=""> <br>
                </div>
                <label for="cupA">Cup "A"</label>
                <input type="text" id="cupA" name="cupA"  value=""> <br>
                <label for="cupB">Cup "B - D"</label>
                <input type="text" id="cupB" name="cupB" value=""> <br>
                <label for="cupE">Cup "E"</label>
                <input type="text" id="cupE" name="cupE"  value=""> <br>

                <select name = "bearing-condition" id = "bearing-condition">
                    <option value ="reinstalled" selected>Reinstalled</option>
                    <option value = "scraped"> Scraped</option>
                    <option value = "stored">Stored</option>
                </select>
            </div>
    
            <br>
                = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
            <br>
            <br>
            <h3>Roll Shop Procedures and Standards</h3>
            <div>
                <div>
                    Different Bearing Installed &emsp; &emsp;
                    <label for="new-bearing">New</label>
                    <input type="radio" id="new-bearing" value="new-bearing" name="diff-bearing"> &nbsp;
                    <label for="used-bearing">Used</label>
                    <input type="radio" id="used-bearing" value="used-bearing" name="diff-bearing"> &nbsp;
                    <label for="other-bearing">N/A</label>
                    <input type="radio" id="other-bearing" value="other-bearing" name="diff-bearing"> &nbsp;
                </div>	
    
                <label for="textMFG">Bearing MFG</label>
                <input type="text" id="textMFG" name="textMFG" value="">
                <label for="MFGsn">S/N</label>
                <input type="text" id="MFGsn" name="MFGsn" value="">
                <label for="sealed2">Sealed</label>	
                <input type="checkbox" id="sealed2" name="sealed2"> <br>
                
                <label for="chockBoreRound">Chock Bore Round</label>	
                <input type="checkbox" id="chockBoreRound" name="chockBoreRound"> &emsp; &emsp;
                <label for="chockBoreOOR">Chock Bore Out of Round</label>
                <input type="checkbox" id="chockBoreOOR" name="chockBoreOOR"> <br>
    
                <input type="checkbox" id="wearOrRust" name="wearOrRust"> &nbsp;
                <label for="wearOrRust">No Excessive Wear or Heavy Rust</label> <br>
    
                <input type="checkbox" id="purgeGrease" name="purgeGrease"> &nbsp;
                <label for="purgeGrease">Purge all Grease Channels. Use EP-2 Grease.</label> <br>
    
                <input type = "checkbox" id="spots-dings" name="spots-dings"> &nbsp;
                <label for="spots-dings">Remove all High Spots and Dings</label> <br>
    
                <input type = "checkbox" id="manual-pack" name="manual-pack"> &nbsp;
                <label for="manual-pack">Manually Pack Each Bearing Segment. Use EP-2 Grease</label> <br>
    
                <input type="checkbox" id="lube-bore" name="lube-bore"> &nbsp;
                <label for="lube-bore">Lube Bore of Chock. Use EP-2 Grease</label> <br>
    
                <input type="checkbox" id="dropped" name="dropped"> &nbsp;
                <label for="dropped">Dropped in Grease Packed Bearings.</label> <br>
    
                a) With a Depth Guage Measure the Height of the Shoulder on the Cover. 
                <input type="text" id="droppedA" name="droppedA"  value=""> <br>
    
                b) Measure the Depth of the Bearing From the Top of the Chock 
                <input type="text" id="droppedB" name="droppedB" value=""> <br>
    
                Subtract "b" from "a" = The amount of Shims Needed for Zero Clearance 
                <input type="text" id="droppedDifference" name="droppedDifference" value=""> <br>
    
                <input type="checkbox" id="paper-used" name="paper-used"> &nbsp;
                <label for = "paper-used">Add 15% more Shim Material if Paper is used to allow from Compression <!-- Text entry, but can we automatiacally make the calculation appear when other values entered -->
                    The 112 Mill Work Rolls Drive Side Requires a 0.094 Clearance. </label> <br>
    
                <input type="checkbox" id="shim" name="shim"> &nbsp;
                <label for="shim">Install Shim/Gasket and Install Cover and Evenly Snug Down all Bolts by Hand</label> <br>
    
                <input type="checkbox" id="phases" name="phases"> &nbsp;
                <label for="phases">In Four Phases Torque all Bolts in a Crisscross Pattern.
                    After each pass, turn the cones (inner races) one and a half times to sear the rollers.
                    First Torque Light. Second Torque Medium. Third Torque Full. Forth Torque Full.</label> <br>
    
                <input type="checkbox" id="ancillary" name="ancillary"> &nbsp;
                <label for="ancillary">Install all Ancillary Equitment</label> <br>	
    
                <input type="checkbox" id="greasePack" name="greasePack"> &nbsp;
                <label for="greasePack">Grease Pack all Seals. Use EP-2 Grease.</label> <br>
    
                <input type="checkbox" id="ready" name="ready"> &nbsp;
                <label for="ready">Chock is Completely Ready for installation on a roll.</label> <br>			
            </div>
            <br>
            <h4 style="text-align: left;">Comments:</h4>
            <textarea id="comments" name="comments" rows="15" cols="100"></textarea>
            <br>
            <br>
            <input type="submit" value="Submit Form" id="submitResponse" name = "submitResponse">
        </form> <!-- END of form-->
    </main>
</body>
</html> 