<!-- Chocks menu tab for navigation to fill out form or look at past forms
-->

<!DOCTYPE html>
<html lang = "en">
<head>

	<link href = "style.css" rel="stylesheet" type="text/css" >
	<title>Chocks and Bearings</title>
</head>

<body>
	<header>
		<div id="helpOption">
			<a href="http://127.0.0.1:5000/help">Help</a>
			<a href="http://127.0.0.1:5000/help"><img src="static/images/helpBtn.png" height="60" width="60" class = "helpBtn" alt="Help Button" /></a>
		</div>

			<a href="http://127.0.0.1:5000/"><img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/></a> <!--height="150" width="300" class="logo"-->

		<!-- Navigation links -->
		<p style="text-align: center">
			<a href="http://127.0.0.1:5000/">Home Roll Management Page</a>  |  <strong>Chocks and Bearings </strong>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>
		</p>

	</header>
	<h2> Options: </h2>
	<ul>
		<li><a href="http://127.0.0.1:5000//chocks">Fill out Chocks and Bearings forms </a></li>
		<li><a href="http://127.0.0.1:5000//chocksView">View previously submitted forms </a></li>
		<!--ADD PREVIOUSLY SUBMITTED FORMS-->
	</ul>
</body>
</html>