<!-- Chocks menu tab for navigation to fill out form or look at past forms
-->

<!DOCTYPE html>
<html lang = "en">
<style>
	.a{
		font-size: 60px;
	}
</style>
<head>

	<link href = "style.css" rel="stylesheet" type="text/css" >
	<title>Chocks and Bearings</title>
</head>

<body>
	<header>

			<a href="http://127.0.0.1:5000/"><img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/></a> <!--height="150" width="300" class="logo"-->

		<!-- Navigation links -->
		<p style="text-align: center">
			<a href="http://127.0.0.1:5000/">Roll Management</a>  |  <strong>Chocks and Bearings</strong>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>  |  <a href="http://127.0.0.1:5000/help">Help</a>
		</p>

	</header>
		<a href="http://127.0.0.1:5000/chocks">Fill out Chocks and Bearings forms </a><br>
		<a href="http://127.0.0.1:5000/chocksView">View previously submitted forms </a>
		<!--ADD PREVIOUSLY SUBMITTED FORMS-->
</body>
</html>