<!-- Draft of RMS Kaiser Website -->
<!-- Missing what was written in PHP -->

<!DOCTYPE html>
<html lang = "en">
<style>
table, th, td {
  border:1px solid black;
  margin-left: auto; 
  margin-right: auto;
}
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
</style>
<head>
	<link href = "style.css" rel="stylesheet" type="text/css" >

	<title>RMS Home</title>

</head>
<body>
	<header>
		<!-- Help icon and links -->
		<!-- Main Kaiser logo and page navigation links -->
		<img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/>
		<p style="text-align: center">
			<strong>Home Roll Management Page</strong>  |  <a href="http://127.0.0.1:5000/chocksMenu">Chocks and Bearings </a>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>  |  <a href="http://127.0.0.1:5000/help">Help</a>
		</p>
		<hr>
	</header>

	<main>
		<br>
		<br>
		<div>
			<!-- big table with links to roll data and lots of data
			will need to activate filtering feature
			maybe a search bar sort of thing?-->
		<form method="post" action="http://127.0.0.1:5000/roll-view">
			<table class = "center" style="width:60%">
			<caption><strong>General Roll Information</strong>
			<!-- seach bar to look for any value in the roll table -->
			<input type = "text" id = "filter_input" onkeyup ="searchFunction()" placeholder = "Search" title="Type in desired table value ">
			
			<br><br>
				<!-- Display table headings-->
				<tr>
					{% for header in headings %}
						<th>{{ header }}</th>
					{% endfor %}
				</tr>
				
				<!-- Display SQL server data to index.html-->
				{% for row in data %}
				{% if row[3] < '2022-12-08' %}
				<tr bgcolor="#FF7F7F">
					{% for cell in row %}
						<!-- I just need to pass the data -->
						{% if cell == row[0] %}
						<td style="text-align:center"><button type="submit" name="roll_clicked" value = {{cell}} class="btn-link">{{cell}}</button></td>
						{% else %}
						<td style="text-align:center">{{cell}}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% elif row[3] < '2023-06-08' %}
				<tr bgcolor="#FFFFE0">
					{% for cell in row %}
						<!-- I just need to pass the data -->
						{% if cell == row[0] %}
						<td style="text-align:center"><button type="submit" name="roll_clicked" value = {{cell}} class="btn-link">{{cell}}</button></td>
						{% else %}
						<td style="text-align:center">{{cell}}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% elif row[3] < '2057-12-31' %}
				<tr bgcolor="#90EE90">
					{% for cell in row %}
						<!-- I just need to pass the data -->
						{% if cell == row[0] %}
						<td style="text-align:center"><button type="submit" name="roll_clicked" value = {{cell}} class="btn-link">{{cell}}</button></td>
						{% else %}
						<td style="text-align:center">{{cell}}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endif %}
				{% endfor %}
					
			</table>
		</form>
		</div>
	</main>
	<script>
		//Filtering function for the search function to look through entire table for the value
		function searchFunction() {
		let tabel, filter, input, tr, td, i;
		input = document.getElementById("filter_input");
		filter = input.value.toUpperCase();
		tabel = document.getElementById("roll_table");
		tr = document.getElementsByTagName("tr");
		for (i = 1; i < tr.length; i++) {
			if (tr[i].textContent.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
				}
			}
		}

	</script>
</body>
</html>