<!-- 
    Notification Email Template
    Author: Joshua Seward
    Date Created: 13 January 2022
    Last Modified: 13 January 2022
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title and CSS link -->
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <title>RMS Notification Email</title>
    </head>

    <body>
        <header>
            <!-- Kaiser Logo and Title -->
            <img src="static/images/logo.png" alt="Kaiser Aluminum Logo"/>
        </header>

        <main>
            <!-- Notification Message -->
            <div id="notiTextDiv" name="notiTextDiv">
                <h3>This is a Notification from the Roll Management System</h3>
                <h3>The following rolls need attention</h3>
            </div>

            <div id="rollsAtEOLDiv" name="rollsAtEOLDiv">
                <!-- Rolls that have reached End of Life REPLACE IMMEDIATELY -->
                <table class="center">
                    <caption><strong>ROLLS AT END OF LIFE - REPLACE IMMEDIATELY</strong></caption>
                    <!-- Table Headings -->
                    <tr>
                        {% for heading in headings %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                    </tr>
                    <!-- Table Data -->
                    {% for roll in rolls_at_EOL %}
                        <tr>
                            {% for roll_data in roll %}
                                <td>{{ roll_data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <div id="rollsNearEOLDiv" name="rollsNearEOLDiv">
                <!-- Rolls that are nearing End of Life REPLACE SOON -->
                <table class="center">
                    <caption><strong>Rolls Near End Of Life - Replace Soon</strong></caption>
                    <!-- Table Headings -->
                    <tr>
                        {% for heading in headings %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                    </tr>
                    <!-- Table Data -->
                    {% for roll in rolls_near_EOL %}
                        <tr>
                            {% for roll_data in roll %}
                                <td>{{ roll_data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>