<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
        }
        .horizontal_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        #date {
            float: right;
            font-weight: bold;
        }
        
        table, th, td {
            border:1px solid black;
            margin-left: auto; 
            margin-right: auto;
        }

    </style>
    <script>
        document.getElementById("date").innerHTML = Date();
    </script>
</head>
<body>
    <img src="static/images/logo.png" alt="Kaiser Aluminium Logo"/>
    <p style="text-align: center">
        <a href="http://127.0.0.1:5000/">Home Roll Management Page</a>  |  <a href="http://127.0.0.1:5000/chocksMenu">Chocks and Bearings </a>  |  <a href="http://127.0.0.1:5000/notifications">Notification Settings</a>  |  <a href="http://127.0.0.1:5000/help">Help</a>
    </p>
    <main>
        <hr>
        <!-- Graph -->
        <section class="horizontal_container">
            <div class="graph" id="graph2">
                <br><br>
                <img src="static/images/Sample Graph.png" alt="idk what happened here"/>
            </div>
        </section>
        <!-- Data table under graph -->
        <section class="horizontal_container">
            {% if num_grinds > 0 %}
        <table>
            <caption>Last Grind</caption>
            <tr>
                <th></th>
                <th>Tailstock</th>
                <th>Middle</th>
                <th>Headstock</th>
            </tr>            
            <tr>
                <tr>
                    <td>Roll Diameter Before(in.)</td>
                    {%if num_grinds > 0%}
                    <td id="roll_diameter_tailstock_before_grinding">{{(last_grinds[0].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                    <td id="roll_diameter_middle_before_grinding">{{(last_grinds[0].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                    <td id="roll_diameter_headstock_before_grinding">{{(last_grinds[0].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                </tr>
                <tr>
                    <td>Roll Diameter After (in.)</td>
                    <td id="roll_diameter_tailstock_after_grinding">{{last_grinds[0].min_diameter|round(2)}}</td>
                    <td id="roll_diameter_middle_after_grinding">{{last_grinds[0].min_diameter|round(2)}}</td>
                    <td id="roll_diameter_headstock_after_grinding">{{last_grinds[0].min_diameter|round(2)}}</td>
                </tr>
                {% endif %}
            </tr>
            
        </table>
        {% endif %}
        {% if num_grinds > 0 %}
        <table>
            <caption>Recent Grinds</caption>
            <tr>
                <th>Date and Time</th>
                <th>Diameter Before</th>
                <th>Diameter After</th>
            </tr>            
            <tr>
                <td>{{last_grinds[0].grind_date}}</td>
                <td>{{(last_grinds[0].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                <td>{{last_grinds[0].min_diameter|round(2)}}</td>
            </tr>
            
            {% if num_grinds > 1 %}
            <tr>
                <td>{{last_grinds[1].grind_date}}</td>
                <td>{{(last_grinds[1].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                <td>{{last_grinds[1].min_diameter|round(2)}}</td>
            </tr>
            {% endif %}
            {% if num_grinds > 2 %}
            <tr>
                <td>{{last_grinds[2].grind_date}}</td>
                <td>{{(last_grinds[2].min_diameter + last_grinds[0].min_diameter_change)|round(2)}}</td>
                <td>{{last_grinds[2].min_diameter|round(2)}}</td>
            </tr>
            {% endif %}
        </table>
        {% endif %}
     </section>  
    </main>


</body>
</html>